.login-input {
    border: 1px solid hsl(235, 13%, 37%);

    &:focus {
        box-shadow: 2px 2px 3px hsl(235, 13%, 57%), -2px 2px 3px hsl(235, 13%, 57%), -2px -2px 3px hsl(235, 13%, 57%),  2px -2px 3px hsl(235, 13%, 57%) !important;;
    }
}

.login-btn {
    background-color: hsl(344, 92%, 58%); 
    border-color: hsl(344, 92%, 38%);

    &:hover {
        background-color: hsl(344, 92%, 48%);
    }

    &:active {
        background-color: hsl(344, 92%, 38%) !important;
        border-color: hsl(344, 92%, 28%) !important;
    }
}

.login-error {
    border: 2px solid hsl(344, 92%, 58%) !important;

    &:focus {
        box-shadow: 1px 1px 3px hsl(344, 92%, 58%), -1px 1px 3px hsl(344, 92%, 58%), -1px -1px 3px hsl(344, 92%, 58%),  1px -1px 3px hsl(344, 92%, 58%) !important;
    }
}

.login-error-feedback {
    text-align: center;
    color: hsl(0, 0%, 79%);
}