.small-confirm-note {
    color: hsl(344, 92%, 58%);
    background-color: none !important;
    border: none !important;

    &:active {
        color: hsl(210, 17%, 98%);
    }
}

.small-cancel-note {
    background-color: none !important;
    border: none !important;
}

.go-back {
    &:active {
        background-color: hsl(235, 13%, 57%) !important;
        border-color: hsl(235, 13%, 37%) !important;
    }
}